<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>코스트 계산기 - 삼국지 조조전 온라인</title>
  <meta name="Description" content="섬멸전/경쟁전 코스트 계산기. 삼국지 조조전 온라인">
  <meta property="og:type" content="website">
  <meta property="og:title" content="코스트 계산기 - 삼국지 조조전 온라인">
  <meta property="og:url" content="https://jojo.jy.is/cost/">
  <meta property="og:image" content="https://jojo.jy.is/images/og.jpg">
  <meta property="og:image:width" content="690">
  <meta property="og:image:height" content="360">
  <link rel="manifest" href="/manifest.json">
  <link rel="apple-touch-icon" sizes="57x57" href="<%= require("../images/apple-icon-57x57.png") %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= require("../images/apple-icon-60x60.png") %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= require("../images/apple-icon-72x72.png") %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= require("../images/apple-icon-76x76.png") %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= require("../images/apple-icon-114x114.png") %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= require("../images/apple-icon-120x120.png") %>">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= require("../images/apple-icon-144x144.png") %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= require("../images/apple-icon-152x152.png") %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= require("../images/apple-icon-180x180.png") %>">
  <link rel="icon" type="image/png" sizes="192x192" href="<%= require("../images/android-icon-192x192.png") %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= require("../images/favicon-32x32.png") %>">
  <link rel="icon" type="image/png" sizes="96x96" href="<%= require("../images/favicon-96x96.png") %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= require("../images/favicon-16x16.png") %>">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="<%= require("../images/ms-icon-144x144.png") %>">
  <meta name="theme-color" content="#ffffff">

  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" crossorigin="anonymous"/>
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"
          integrity="sha256-VsEqElsCHSGmnmHXGQzvoWjWwoznFSZc6hs7ARLRacQ=" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"
          integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css"
        integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous"/>

  <!-- Google Analytics -->
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-112737939-2', 'auto');
    ga('send', 'pageview');
  </script>

  <style>

  </style>
  <!-- End Google Analytics -->
</head>

<body>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand navbar-img" href="/">
    <span class="navbar-img-text">탕수육</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" data-item="Cost" href="#">코스트 계산기 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-item="Geo" href="/geo">지형상성표</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-item="Bot" target="_blank" href="http://bit.ly/bot_caocao"
           rel="noopener">탕수육봇</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container" style="padding-top: 20px; padding-bottom: 20px">
  <div style="text-align: center; margin-bottom: 30px;">
    <strong>
      삼국지 조조전 온라인 코스트 계산기
    </strong>
  </div>

  <ul class="active-characters list-group" style="font-size: 0.95em; margin-bottom: 30px;">
    <li class="list-group-item">선택된 장수 없음</li>
  </ul>

  <div style="margin-bottom: 20px;" class="total-cost-wrapper"></div>

  <div style="margin-bottom: 20px;">
    <label style="font-size: 0.9em">장수 이름</label>
    <div class="input-group">
      <div class="form-control" style="padding: 1px 0 0 0; font-size: 0.9em;">
        <select class="commander-input"></select>
      </div>
      <div class="commander-save input-group-append">
        <button class="btn btn-outline-secondary" type="button">저장</button>
      </div>
    </div>
  </div>

  <ul class="saved-characters list-group"></ul>
</div>
</body>

</html>
